<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games</title>
</head>
<body>
    <h1>All Games</h1>
    <div>
        <a href="/games/new">Add Game</a>
    </div>
    <ul>
        <% for (let game of games) { %> 
            <li><a href="/games/<%= game._id  %>"><%= game.title %> </a> </li>
        <% } %> 
    </ul>
</body>
</html>